.container{
    display: flex;
}

.topics{
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
    padding: auto;
}

.topics a{
    text-decoration: none;
    color: white;
}