.container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

table{
    text-align: center;
}
td, tr, th{
    border: 1px solid black;
    width: 120px;
}

.result{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 50px;
}

.strongTitle{
    font-size: 10px;
}