<div class="header">
    <div class="mainHead">

      <a routerLink="home"><h1>{{title}}</h1></a>
      <div class="loginBtn">
        <!-- <span *ngIf="!userName">Welcome, User</span> -->
        <span *ngIf="userName">Welcome {{userName}}</span>
        <button *ngIf="!userSignedIn" class="btn btn-success" (click)="login()">Log in</button>
        <button *ngIf="!userSignedIn" class="btn btn-primary" (click)="signup()">Sign Up</button>
        <button *ngIf="userSignedIn" class="btn btn-danger" (click)="logout()">Log Out</button>
      </div>
    </div>
    <div class="subHead">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/aboutMe">About Me</a></li>
        <li><a routerLink="/contactMe">Contact Me</a></li>
        <li><a routerLink="/newsLetter">Newsletter</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li> <a routerLink="/learn/learn">Learn</a></li>
      </ul>
    </div>
  </div>

  <div *ngIf = show class="directive">
    <h4>Directives in angular</h4> 

    <ol>
      <li>Component Directive</li>
      <li>Structural Directive</li>
      <ul>
        <li>ngIf</li>
        <li>ngSwitch</li>
        <li>ngFor</li>
      </ul>
      <li>Atribute</li>
      <ul>
        <li>ngClass</li>
        <li>ngStyle</li>
      </ul>
    </ol>
  </div>
  <button (click)="collapse()">Collapse</button>

  <table class="marksTable">
    <th *ngFor=" let item of tableHeadings">
      {{item}}
    </th>
  <tbody>
    <tr *ngFor="let item of result">
      <td>{{item.Name}}</td>
      <td>{{item.Marks}}</td>
      <td>{{item.Age}}</td>    
    </tr>
  </tbody>
  </table>

  <div>
    <ul>
      <li *ngFor="let num of combine">{{num}}</li>
    </ul>
  </div>

<!-- buttons using angular material -->

<button mat-raised-button color="accent">Accent</button>

<button mat-fab color="primary" aria-label="Example icon button with a delete icon">
  <mat-icon>delete</mat-icon>
</button>

  <!-- ngSwitch number to days -->
  <div [ngSwitch]="days">
    <div *ngSwitchCase = "1">Sunday</div>
    <div *ngSwitchCase = "2">Monday</div>
    <div *ngSwitchCase = "3">Tuesday</div>
    <div *ngSwitchCase = "4">Wednesday</div>
    <div *ngSwitchCase = "5">Thursday</div>
    <div *ngSwitchCase = "6">Friday</div>
    <div *ngSwitchCase = "7">Saturday</div>
    <div *ngSwitchDefault="">Not valid number</div>
  </div>

  <div [ngClass]="background? 'pink':'blue'">this is div for ngClass</div>
  <button id="btnChange" (click)="changeBackground()">Pink</button>