<div class="container">
    <h3 class="mb-4 mt-3 text-primary text-center">My Profile</h3>
    
    
    <form [formGroup]="updateForm">

        <label for="fname" class="form-label">First Name
        </label>
        <input class="form-control mb-2" type="text" id="fname" value= "{{user.firstName}}" formControlName = "firstName">


        <label for="lname" class="form-label">Last Name
        </label><br>
        <input class="form-control mb-2" type="text" id="lastName" value="{{user.lastName}}" formControlName = "lastName">
        
        <label for="mobile" class="form-label">Mobile
        </label><br>
        <input class="form-control mb-2" type="text" id="mobile" value="{{user.mobile}}" formControlName = "mobile">
        
        <label for="email" class="form-label">Email
        </label><br>
        <input class="form-control mb-2" type="email" id="email" value="{{user.email}}" formControlName = "email">
        
        
        <label for="password" class="form-label">Password
        </label><br>
        <input class="form-control mb-2" type="text" id="password" value="{{user.password}}" formControlName = "password">
        
        <label for="gender" class="form-label">Gender
        </label><br>
        <input type="radio" formControlName = "gender" value="male"> Male
        <input type="radio" formControlName = "gender" value="female"> Female
        <input type="radio" formControlName = "gender" value="other"> Other 
        
        <div class="btn-container">
            <button [disabled]="!updateForm.valid" class="btn btn-primary text-center mt-3" (click)="update()">Update Profile</button><br>
        </div>

        <span class="text-success text-center mb-5" *ngIf="success">Your profile updated successfully</span>
    </form>
</div>