form input{
    border-color: rgb(0, 55, 255);
}

button{
    justify-content: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn-container button{
    width: 100%;
}

.error{
    color: red;
}