<div class="container">
  <header>
    <h1>{{title}}</h1>
  </header>
  
  <div class="main">
    <!-- <app-login></app-login>
    <app-signup></app-signup> -->
  
      <!-- <button routerLink = "/login">Go to login page</button>
      <button routerLink = "/signup">Go to signup page</button> -->

        

      <router-outlet></router-outlet>

      <!-- two way binding -->

        <!-- <input type="text" [(ngModel)] = "twoWayData">
        {{twoWayData}} -->
  </div>
  
  <footer>
    <p>This website is developed by Abhijit Bharankar</p>
  </footer>
</div>


